html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

html,body {
  height: 100%;
  margin: 0;
}

div {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #222;
  color: #333;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}









main {
  display: grid;
  /* rows / columns */
  grid-template: 100px 1fr 100px / 300px 1fr;
  height: 100%;
}

nav {
  /* row-start / column-start / row-end / column-end */
  grid-area: 1 / 1 / 4 / 2;
  background: #ffafcc;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: solid 3px #333;
  padding: 1rem;
}

.nav-title {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
  font-family: "Bevan", serif;
  cursor: pointer;
}

.nav-hamburger {
  display: none;
}

.nav-contents {
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: all 1s ease-out;
}

.nav-contents a {
  width: 70%;
  background: #222;
  color: #FFF;
  padding: 15px 10px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: "Bevan", serif;
  text-decoration: none;
}

.nav-contents a:hover {
  cursor: pointer;
  box-shadow: 0.25em 0.25em 0 #FFF;
  transform: translate(-0.25em,-0.25em);
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

.scrolling-title {
  grid-area: 1 / 2 / 1 / 3;
  background: #e76f51;
  font-family: "Vast Shadow", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 95px;
  line-height: 1;
  overflow: hidden;
  display: flex;
  border-bottom: solid 3px #333;
  border-top: solid 3px #333;
  white-space: nowrap;
  
}

.scrolling-title-text {
  animation: marquee 7.5s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}








.content {
  grid-area: 2 / 2 / 2 / 3;
  background: #ffb703;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  padding-top: 2rem;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
}

.cat-stand {
  display: flex;
  align-items: flex-end;
}

.right-cat {
  transform: scaleX(-1);
}

.content h1 {
  font-size: 4rem;
  text-align: center;
  font-family: "Bevan", serif;
  line-height: 1;
  margin-bottom: 0.4em;
}

.container {
  background: #FFF;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 0 #222;
}

.container-accent-top {
  height: 10px;
  background: #05b9ff;
}

.container-accent-bottom {
  height: 10px;
  background: #05b9ff;
}

.container .title-wrapper {
  font-family: "Bevan", serif;
  font-size: 1.5rem;
  line-height: 1.4;
  padding: 0.5rem 1rem;
  background: #eaf3fb;
}

.container h2 {
  font-family: "Bevan", serif;
  font-weight: 800;
  text-transform:uppercase;
  margin-bottom: 0.5em;
  font-size: 1.2rem;
  color: #444;
}

.container p {
  line-height: 1.1;
  margin-bottom: 1em;
}

.container img {
  border-radius: 5px;
}

.two-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 5rem;
}

.anim-rotate {
  animation: 6s linear rotate infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}


.flex {
  display: flex;
}

.p-1 {
  padding: 1rem;
}

.m-1 {
  margin: 1rem;
}





#orbital-zone-ring {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFF;
}

#orbital-zone-ring a {
  color: #ffb703;
}







/**  RESPONSIVE  **/
@media (max-width: 900px) {
  main {
    grid: auto-flow dense / 1fr;
    gap: 0;
  }

  nav {
    grid-area: 1 / 1 / 2 / 2;
    justify-content: center;
    border-right: none;
  }

  .scrolling-title {
    grid-area: 2 / 1 / 3 / 2;
    height: 1em;
  }

  .content {
    grid-area: 3 / 1 / 4 / 2;
  }

  #orbital-zone-ring {
    grid-area: 5 / 1 / 7 / 3;
  }





  .nav-hamburger {
    display: block;
    height: 0.8em;
    width: 0.8em;
    margin-top: 1px;
    margin-right: 10px;
  }

  .nav-contents {
    height: 0;
    overflow: hidden;
  }

  .nav-show {
    height: auto;
  }

  /* two grid becomes one grid! */
  .two-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid-reverse {
    order: -1;
  }
}


